* {
    font-family:'Open Sans';
	font-style:normal;
	font-weight:400;
}

html, body{
    height: 100%;
    box-sizing: border-box;
}

body {

    background-color: #311100;
    color: #999;
    margin:0;
}
.logo {
    display: block;
    width: 150px;
    height: 160px;
    background-image: url(images/cup-coffee-01.svg);
    background-repeat: no-repeat;
    background-size: 140px 140px;
    background-position: 0px 10px;
    position: absolute;
    left: 0;
    top: 0;
    
}

.header_bg {
    display: block;
    width: 100%;
    height: 160px;
    background-image: url(images/beans-bg-01.jpg);
    background-repeat: repeat-x;
    background-position: center;
    background-size: 714px 160px;
    
}

.logo_block {
    display: block;
    height: 160px;
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.menu_block {
    display: block;
    height: 40px;
    padding: 10px 0;
    position: absolute;
    right: 20px;
    top: 100px;
}

.slider_block {
    display: block;
    width: 100%;
    min-height: 350px;
    background-image: url(images/bg1024-02.png);
    background-repeat: repeat;
    position:relative;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.slides_cut {
    display: block;
    width: 1150px;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    position: relative;
}

.slide {
    cursor:pointer;
    display: inline-block;
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slide_in {
    display: block;
    position: relative;
}

.slide_description {
    display: block;
    height: 150px;
    width: 100%;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
    color: white;
    position: absolute; 
    left:0; 
    bottom: -200px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.unselected {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.descr_padding {
    padding: 10px;
    text-align: left;
}

.arrow_left {
    display: block;
    width:60px;
    height:60px;
    background-image: url("images/arrow-left.png");
    background-size: contain;
    position: absolute;
    left: 20px;
    top: 150px;
    cursor:pointer;
    z-index:100;
    opacity: 0.5;
    transition: opacity 0.7s;
}

.arrow_left:hover {
    opacity: 1; 
}

.arrow_right {
    display: block;
    width:60px;
    height:60px;
    background-image: url("images/arrow-right.png");
    background-size: contain;
    position: absolute;
    right: 20px;
    top: 150px;
    cursor:pointer;
    z-index:100;
    opacity: 0.5;
    transition: opacity 0.7s;
}

.arrow_right:hover {
    opacity: 1; 
}

.gray_block {
    display: block;
    width: 100%;
    min-height: 350px;
    background-color: #AAA;
}

.darkgray_block {
    display: block;
    width: 100%;
    min-height: 350px;
    background-image: url(images/bg1024-02.png);
    background-repeat: repeat;
    background-position: center;
    color: #FFF;
}

.tab_link {
    display: inline-block;
    color: #de8d58;   
    margin: 0 20px 0 20px;
}

.tab_link a:link, .tab_link a:visited {
	color:#de8d58;
    text-decoration: none;
}
.tab_link a:hover {
	color:#fbd26d;
}

.tab_link_active a:link, .tab_link_active a:visited {
    font-style: bold;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: #de8d58 solid 4px;
    color: #de8d58;
}
.tab_link_active a:hover {
	color:#fbd26d;
    border-bottom: #fbd26d solid 3px;
}


.padding_10 {
    padding: 10px;
}

.ngview_block {
    display: block;
    border-top: #873500 solid 2px;
    border-bottom: #873500 solid 2px;    
}


.contacts_block {
    display: block;
    top: 0;
    width: 1000px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;   
}

.container { 
    height: auto; 
    min-height: 100%; 
}

.content {
    padding-bottom: 144px;
}

.footer {
    display: block;
    height: 144px;
    width: 100%;
    clear: both;
    position: relative;
    margin-top: -144px;
}

.footer_level_null {
    display: block;
    height: 32px;
}

.footer_level_one {
    display: block;
    height: 32px;
    background-color: #752700;
}

.footer_level_two {
    display: block;
    height: 64px;
    background-color: #a55500;
}

.footer_level_three {
    display: block;
    height: 16px;
    background-color: #e07400;
}

.footer_image {
    position: absolute;
    top: -16px;
    width: 1000px;
    height: 160px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/slogan.svg);
    background-repeat: no-repeat;
    background-position: 20px 0;
    background-size: 300px 160px;
}

.footer_text_one {
    position: absolute;
    left: 360px;
    top: 54px;
    font-size: 14px;
    color: white;
}

.footer_text_two {
    position: absolute;
    left: 360px;
    top: 86px;
    font-size: 16px;
    color: white;
}

a:link, a:link:visited {
    color: white;
}