<div ng-controller="one_ctrl" ng-init="init()">
    <div class="slider_block">
        <div class="slides_cut">       
            <div ng-repeat="slide in slides_copy" ng-style="slide.style" class="slide">
                <img ng-src="{{slide.img_src}}" width="{{slide.width}}" height="{{slide.height}}" border=0 title="{{slide.title}}">
            </div>
        </div>
         <div class="arrow_left" ng-click="slide_right()"></div>
         <div class="arrow_right" ng-click="slide_left()"></div>
    </div>
</div> 