<div ng-controller="puzzle_ctrl" ng-init="init()">
    <div class="darkgray_block">
        <div class="puzzle_block" style="padding-left: 60px">
            <button ng-click="puzzle.shuffle()">Shuffle</button><br>
                <div class="puzzle_wrapper" ng-style="puzzle.style">
                    <div class="puzzle_field">
                        <div ng-repeat="cell in puzzle.cells" class="puzzle_cell" ng-class="{active_cell:cell.active == 1, inactive_cell:cell.active == 0}" ng-style="cell.style" ng-click="puzzle.cell_click(cell)">
                            {{cell.text}}
                        </div>
                    </div>
                </div>
               
        </div>
    </div>
</div> 